<%= render 'layouts/header' %>
<div class="container">

	<h2><%= @c.name %></h2>
   
   
    <hr />

    <div class="agenda">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Single event in a single day -->
                    <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth"><%= @c.lastdate.strftime("%d")%></div>
                            <div class="dayofweek"><%= @c.lastdate.strftime("%A") %></div>
                            <div class="shortdate text-muted"><%= @c.lastdate.strftime("%B") %>, <%= @c.lastdate.strftime("%Y") %></div>
                        </td>
                        <td class="agenda-time">
                            9:00 PM 
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                <i class="glyphicon glyphicon-repeat text-muted" title="Repeating event"></i> 
                                Last Date For registration
                            </div>
                        </td>
                    </tr>
                    
                    <!-- Multiple events in a single day (note the rowspan) -->
                    <tr>
                        <td class="agenda-date" class="active" rowspan="3">
                            <div class="dayofmonth"><%= @c.date.strftime("%d")%></div>
                            <div class="dayofweek"><%= @c.date.strftime("%A") %></div>
                            <div class="shortdate text-muted"><%= @c.date.strftime("%B") %>, <%= @c.date.strftime("%Y") %></div>
                        </td>
                        <td class="agenda-time">
                            9:00 - 11:00 AM 
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Online Test
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            12:30 - 2:00 PM group coding 
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                            Group Coding
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            4:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                            Interview
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div> 